<div class="toc">
<div class="dropdown">
<button onclick="tocButtonClick()" class="toc-button">Table of Contents</button>
<div id="tocContent" class="drop-content">
<a href="#editing-and-publishing">Editing and Publishing</a>
<a href="#step-1-create-the-repository">Step 1: Create the Repository</a>
<a href="#step-2-publish-the-site">Step 2: Publish the Site</a>
<a href="#step-3-make-it-your-own">Step 3: Make it Your Own</a>
<a href="#step-4-edit-configyml">Step 4: Edit _config.yml</a>
<a href="#step-5-edit-indexmd">Step 5: Edit index.md</a>
<a href="#step-6-edit-aboutmd">Step 6: Edit about.md</a>
<a href="#step-7-publish-your-changes">Step 7: Publish Your Changes</a>
<a href="#technical-reference">Technical Reference</a>
<a href="#google-analytics">Google Analytics</a>
<a href="#develop-and-test-on-windows">Develop and Test on Windows</a>
<a href="#develop-and-test-on-ras-pi">Develop and Test on Ras Pi</a>
</div>
</div>
<h3>{{ page.title }}</h3>
</div>
