/* Dropdown Link Button for TOC */
.toc-button {
  background-color: #3782CD;
  color: white;
  margin: 0; /* 0 0 6px; */
  padding: 1px 6px;
  font-size: 14px;
  font-weight: normal;
  border: 2px solid darkgray;
  border-radius: 4px;
  cursor: pointer;
}
.toc-button:hover, .toc-button:focus {
  background-color: #2980B9;
}
.toc-dropdown {
  position: relative;
  display: inline-block;
}
.toc-dropdown-content {
  display: none;
  position: absolute;
  background-color: #C6EAFA;
  min-width: max-content;
  margin-left: 30px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.toc-dropdown-content a {
  color: black;
  font-size: 14px;
  padding: 4px 40px 4px 8px;
  text-decoration: none;
  display: block;
}
.toc-dropdown a:hover {background-color: #ddd;}
.show {display: block;}
