<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% if site.favicon %}
  <link rel="shortcut icon" href="{{ site.favicon }}">
{% endif %}
<!-- Scripts for the Dropdown Links Button -->
{% include menu-button-script.html %}
<!-- UPDATE the URL and the FILE! -->
{% if site.url == "https://tr-systems.github.io/modernist" %}
  {% include tr-systems-ga.html %}
{% endif %}
</head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="grid-hdr">
            <div class="item1">
              {% if site.logo %} 
                <img src="{{ site.logo }}" width="32"><h1>{{ site.title }}</h1>
              {% else %}
                <h1>{{ site.title }}</h1>
              {% endif %}
              <p>{{ site.description | default: site.github.project_tagline }}</p>
            </div>
            <div class="item2">
              <ul>
                {% if site.home-page %}
                  <li><a href="{{ site.url }}{{ site.home-page }}">{{ site.home-text }}</a></li>
                {% endif %}
                {% if site.about-page %}
                  <li><a href="{{ site.url }}{{ site.about-page }}">{{ site.about-text }}</a></li>
                {% endif %}
                {% if site.hlink1-url %}
                  <li><a target="_blank" href="{{ site.hlink1-url }}">{{ site.hlink1-text }}</a></li>
                {% else %}
                  {% if site.hlink1-page %}
                      <li><a href="{{ site.url }}{{ site.hlink1-page }}">{{ site.hlink1-text }}</a></li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
      <div class="content">

        {{ content }}

      </div>
    </div>
    <div class="footer">
      <p>{{ site.contact-info1 }} {{ site.contact-info2 }}</p>
      {% if site.footer-url %}
        <p><small>{{ site.footer-text1 }} <a target="-blank" href="{{ site.footer-url }}">{{ site.footer-text2 }}</a></small></p>
      {% else %}
        <p><small>{{ site.footer-text1 }} {{ site.footer-text2 }}</small></p>
      {% endif %}
      <p>&copy;{{ site.copyright }}</p> 
    </div>
  </body>
</html>
